@model List<Actor>
<br />


<div class="row">
    <div class="col-10">
        <h1>All Actors</h1>
    </div>
    <div class="col-2">
        <a href="/Actor/Create" class="btn btn-secondary"><i class="bi bi-plus-circle"></i> Add New Actor</a>
    </div>
</div>
<br />


<table class="table" style="border:solid">
    <thead class="table-dark">
        <tr>
            <th scope="col" style="text-align:center">ID</th>
            <th scope="col" style="text-align:center">Name</th>
            <th scope="col" style="text-align:center">Bio</th>
            <th scope="col" style="text-align:center">ProfilePicture</th>
            <th scope="col" style="text-align:center">News</th>
            <th scope="col" style="text-align:center">Actions</th>
 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="border:solid">
                <th scope="row" style="border:solid">@item.Id</th>
                <th scope="row" style="border:solid">@item.FirstName @item.LastName</th>
                <th scope="row" style="border:solid">@item.Bio</th>
                <th scope="row" style="border:solid;text-align:center"> <img src="~/Images/cast/@item.ProfilePicture" alt="Alternate Text" /> </th>
                <th scope="row" style="border:solid">@item.News</th>
                
                <td>
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <button type="button" class="btn btn-primary">Action</button>
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="/Actor/Edit?ActorId=@item.Id">Edit</a>
                                <a class="dropdown-item" href="/Actor/Delete?ActorId=@item.Id" onclick="return confirm('are you sure?')">Delete</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>